.cardcenter{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignIncard{
    border-radius: 5px !important;
    width: 400px;
    padding: 15px 20px;
}

.SignUpcard{
    width: 29rem;
    border-radius: 5px !important;
    padding: 15px 20px;
}